.inventory-list-container {
  padding: 20px;
}

.table-header th {
  background-color: #6c757d;
  color: white;
  text-align: center;
}

.table td, .table th {
  padding: 12px;
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table td {
  vertical-align: middle;
}

.table td:last-child {
  color: #28a745; /* Green color for stock updates */
}

.table td:nth-child(4) {
  font-weight: bold;
}

.with-sidebar {
  margin-left: 250px; /* Adjust if sidebar has a fixed width */
}
