/* ProductDetails.css */
.product-list-container {
    padding: 20px;
}

.table {
    width: 100%;
    margin-top: 20px;
}

.table-header th {
    background-color: #b97a67;
    color: white;
}

.table td {
    padding: 10px;
}

.btn-group {
    display: flex;
    gap: 10px;
}

.btn {
    min-width: 70px;
}

.text-left {
    text-align: left; /* Aligns text to the left */
    margin-bottom: 20px; /* Optional: Adjusts spacing below the button */
}
