.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000; /* Black background */
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure the header is on top */
}

.left-section {
  display: flex;
  align-items: center;
}

.menu-button {
  cursor: pointer;
  font-size: 24px;
}

.sidebar-logo {
  display: flex;
  flex-direction: column;
  margin-left: 10px; /* Space between the menu button and logo */
  text-align: left;
}

.sidebar-logo h2 {
  margin: 0;
  font-size: 18px;
}

.sidebar-logo p {
  margin: 0;
  font-size: 12px;
  color: #b0bec5;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  margin-left: auto; /* Aligns nav-buttons to the right */
}

.nav-buttons .btn {
  color: white;
  background-color: #007bff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.nav-buttons .btn:hover {
  background-color: #0056b3;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons .btn {
  color: white;
}

.auth-buttons .btn-primary {
  background-color: #c0c8c2;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.auth-buttons .btn-secondary {
  background-color: #aca79d;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
