/* Header.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000; /* Black background */
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure the header is on top */
}

.menu-button {
  cursor: pointer;
  font-size: 24px;
}

.sidebar-logo {
  display: flex;
  flex-direction: column;
  margin-left: 15px; /* Space from the left corner */
  text-align: left;
}

.sidebar-logo h2 {
  margin: 0;
  font-size: 18px;
}

.sidebar-logo p {
  margin: 0;
  font-size: 12px;
  color: #b0bec5;
}

.app-title {
  margin: 0 auto; /* Center the title */
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons .btn {
  color: white;
}

.notification-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  margin-top: 7px;
}

.notification-icon {
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

.notification-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #fff;
  width: 250px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
}

.notification-item.read {
  background-color: #f0f0f0;
}

.notification-item.unread {
  background-color: #e9ffe5;
}

.notification-item:hover {
  background-color: #f9f9f9;
}

.no-notifications {
  padding: 10px;
  color: #999;
  text-align: center;
}

.notification-icon-wrapper {
  position: relative;
  display: inline-block;
}

.notification-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgb(169, 97, 84);
  color: white;
  border-radius: 50%;
  padding: 1px 6px;
  font-size: 12px;
}

/* Profile wrapper for icon */
.profile-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 15px;
}

/* Profile icon styling */
.profile-icon {
  font-size: 24px;
  cursor: pointer;
  margin-top: 5px;
}

/* Profile dropdown */
.profile-dropdown {
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 300px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 4px;
}

/* Each profile item */
.profile-item {
  padding: 8px 10px;
  border-bottom: 1px solid #ddd;
  color: #000000;
}

.profile-item:last-child {
  border-bottom: none;
}

.profile-item button {
  width: 100%;
}

/* Logout button styling */
.logout-button {
  margin-left: 15px;
}

